<section id="questionMake" class="col-md-12">
	<div class="col-md-8 col-md-offset-2 padraoBox">
		<div id="facaASuaPergunta" class="col-md-12">
			<h3>Edite o seu tópico</h3>
			<%= render partial: 'layouts/question' %>
		</div>
	</div>
</section>