<section id="info-about-perfil">
	<div class="container-fluid">
		<div class="col-md-3 perfil-categorias">
			<h4>Score</h4>
		</div>
		<div class="col-md-3 perfil-categorias">
			<h4>Sobre</h4>
			<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus delectus sapiente, sit maiores assumenda expedita a! Enim sed quia magnam, pariatur est repellendus ipsum eius asperiores tempore optio, veniam cumque!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate repudiandae velit assumenda cumque libero, laborum, tempora facilis autem, ea molestiae cum dolor rem sunt. Quia veritatis quasi neque sunt eveniet?
			</p>
		</div>
		<div class="col-md-3 perfil-categorias">
			<h4>Dúvidas</h4>
		</div>
		<div class="col-md-3 perfil-categorias">
			<h4>Respostas</h4>
		</div>
	</div>
</section>
