/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-datepicker3
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #eef2f4 !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Geral */
.row {margin-left: 0 !important; margin-right: 0 !important;}
.modal-footer {border-top: 0 !important; margin-top: 150px;}
hr {
    border-top: 1px solid #a2b6bc !important;
}
h2 {
	font-family: 'Arimo', sans-serif !important;
	font-weight: bold !important;
	color: #fff !important;
	font-size: 2.4em !important;
}

p{
	font-family: 'Arimo', sans-serif !important;
}
.label-login {
	color: #a7a9a9;
	font-weight: 300;
	font-family: 'Arimo', sans-serif;
}

.form-control {
	border-radius: 8px !important;
	background-color: #eef2f4 !important;
	border: 1px solid #a2b6bc !important;
	font-family: 'Arimo', sans-serif;
}

.form-control:focus {
	outline: none !important;
	border-color: #a2b6bc !important;
	box-shadow: none !important;
}
/* */
#login-page {
	padding: 0 !important;
	background-color: #fff;
	@media (max-width: 900px) {
		width: 100vw;
		height: 100vh;
	
	}

	#logo {
		@media (max-width: 900px) {
			margin-top: 0 !important;

		}
	}

	#fundo-alunos {
			background-color: black;
			height: 100vh;
			margin: 0 !important;
			background-image: asset-url('fundo-alunos');
			background-size: 100%;

		@media (min-width: 901px) {
			display: block;
		}
		@media (max-width: 900px) {
			display: none;
		}
	}
	#fundo-cadastrar {
		background-color: black;
		height: 100vh;
		margin: 0 !important;
		background-image: asset-url('bg-cadastrar');
		background-size: 100%;

		@media (max-width: 900px) {
			display: none;
		}
	}	
	#login {

		@media (max-width: 900px) {
			padding-top: 40%;
		}
		h3 {
			color: #47c5ad;
			font-size: 32px;
			font-family: 'Arimo', sans-serif;

			@media (max-width: 900px ) {
				margin-top: 0 !important;
			}
		}

		.form-control {
			padding: 10px;
			height: 45px;
		}
		
		#new_user > div {
			padding-left: 0!important;
		}
		.btn {
			background-color: #47c5ad;
			border: none !important;
			border-radius: 4px;
			width: 100%;
			margin-top: 15px;
			height: 50px;
			font-family: 'Arimo', sans-serif;

			&:hover {
				background-color: #7adcbb;
			}
		}
	}
}

#login-cadastro {

		@media (max-width: 900px) {
			padding-top: 1%;
		}
		h3 {
			color: #47c5ad;
			font-size: 32px;
			font-family: 'Arimo', sans-serif;

			@media (max-width: 900px ) {
				margin-top: 0 !important;
			}
		}

		.form-control {
			padding: 10px;
			height: 45px;
		}
		
		#new_user > div {
			padding-left: 0!important;
		}
		.btn {
			background-color: #47c5ad;
			border: none !important;
			border-radius: 4px;
			width: 100%;
			margin-top: 15px;
			height: 50px;
			font-family: 'Arimo', sans-serif;

			&:hover {
				background-color: #7adcbb;
			}
		}
	}


/* Dashboard */
.navbar {
	background-color: #47c5ad !important;
	border-color: #47c5ad !important;
	border-radius: 0px !important;
	height: 85px;
	margin-bottom: 0 !important;
	@media (max-width: 767px) {
		height: 100%;
	}

	.navbar-brand {
		color: #fff !important;
		font-size: 2em;
		font-weight: bold;
		width: 100%;

		@media (max-width: 767px) {
			text-align: left;
		}

	}

	a {
		color: #fff !important;
		font-size: 1.4em;
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		text-align:center;
		line-height: 54px;
		
		@media (max-width: 767px) {
			line-height: 0;
		}
	}
	.navbar-collapse.collapse {
		@media(min-width: 1200px) {
			height: 100% !important;
		}

		.nav {
			@media(min-width: 1200px) {
				height: 100%;
				width: 75%;
			}
			li {
				@media(min-width: 1200px) {
					height: 100%;
					width: 27%;
				}
				&:hover {
					background-color: #fff;
				}

				a {
					line-height: 54px;

					&:hover {
						color: #5c7592 !important;
					}
				}
				
			}
			
		}
	}
}
#sidebar-dashboard {
	background-color: #75868e;
	//height: 100vh;
	padding: 0 !important;

	@media (max-width: 767px) {
	}

	a {
		color: #fff !important;
		&:visited {color: #fff !important;}
	}
	#profile-photo {
		padding: 0 !important;
		position: absolute;
		height: 20em;
		@media (max-width: 767px) {
			display: none;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		&:hover + #caixa-none{
				visibility: visible;
		}
	}
	#caixa-none{
		visibility: hidden; 
		margin-top: 100px;
		@media (max-width: 767px) {
			display: none;
		}
	}

	
	#change-photo {
		position: absolute;
	}

	#profile-photo:hover + #change-photo {
			position: absolute;
		    background-color: black;
		    width: 100%;
		    height: 20%;
		    background-color: rgba(0,0,0,0.3);
		}

	#profile-info {
		margin-top: 11em;

		p {
			color: #fff;
			font-size: 1.2em !important;
			font-weight: 400 !important;
			font-family: 'Arimo', sans-serif !important;
		}

		.score {
			margin-top: 30px;
			p {
				font-size: 1.4em !important;
				font-weight: bold !important;
			}
		}

		.about {
			margin-top: 30px;
			p {
				font-size: 1.4em !important;
				font-weight: bold !important;
			}

			.text {font-size: 1em !important; font-weight: 400 !important;}
		}
	}
}

/* Dashboardo Principal */



	#search {
		height: 90px;
		background-color: #fff;
		border-bottom: 1px solid #95b3ba;
		align-items: center;
		display: flex;

		#search-area {
			margin: 0 auto;
			input {
				height: 45px !important;
			}
		}
	}	



/* perfil */

#perfil-body {
	background-color: #eef2f4 !important;


	#perfil-photo {

		#barra-azul-perfil {
			background-color: #3ca994;
			height: 210px !important;
		}
		#barra-branca-perfil {
			background-color: #fff;
			height: 210px !important;
		}
	}
}

/* cadastrar */
#cadastrar-tela {
	background-color: #47c5ad;
	width: 100%;
	height: 100vh;

	h2 {margin: 0 !important;}
	.btn {
		background-color: #75868e;
		border: none !important;
		border-radius: 4px;
		width: 100%;
		margin-top: 15px;
		height: 50px;
		font-family: 'Arimo', sans-serif;

		&:hover {
			background-color: #7adcbb;
		}
	}
	.form-control {
		padding: 10px;
		height: 45px;
	}

	#logar {
		background-color: #75868e;
		border: none !important;
		border-radius: 4px;
		width: 100%;
		margin-top: 15px;
		height: 50px;
		font-family: 'Arimo', sans-serif;	
		a {color: #fff !important; text-align: center;}
	}
}

#info-about-perfil {
	margin-top: 20px;

}
#perfil-menus {
	margin-top: 20px;

}
.perfil-categorias {
	background-color: #fff !important;
	border: 1px solid #a2b6bc;
	border-radius: 10px;
	font-family: 'Arimo', sans-serif;
	min-height: 175px !important;
	text-align: center;
	width: 23% !important;
	margin: 13px !important;
	padding: 15px 15px !important;
	img {border: 1px solid #a2b6bc;}
	h5{color: #535353;}
	ul {
		margin: 0 !important; 
		padding: 10px;
	}
	p {
		color: #989a9b !important;
	}
	h4 {font-weight: bold; font-family: 'Arimo', sans-serif; color: #535353;}

	.duvidasBoxPerfil {
		background-color: #fff;
		border-radius: 10px;
		border: 1px solid #a2b6bc;
		padding: 12px 12px 12px 12px;
		width: 100%;
		margin: 7px 0;
	}
}

#mainBody {
	padding: 0; 
	margin: 0; 
	background-color: #eef2f4;
}

/* CORPO PRINCIPAL */
#questionMake{
	margin-top: 15px;
	@media screen and (min-width: 768px) and (max-width: 900px) {
margin-top: 200px;
}
	h3 {
		color: #535353;
		font-size: 28px;
		font-family: 'Arimo', sans-serif;
	}
}


.padraoBox {
	background-color: #fff;
	border: 1px solid #a2b6bc;
	border-radius: 10px;
}
.padraoBoxInverse {
	background-color: #dee7eb;
	border: 1px solid #a2b6bc;
	border-radius: 10px;
	margin-bottom: 13px;
}

.botaoEnviarDuvida, .botaoPesquisarDuvida {
	width: 100%;
	background-color: #33cc99 !important;
	border: none !important;
}

.botaoPesquisarDuvida {padding-left: 0 !important; padding-right: 0 !important;}

#topicos {
	margin-top: 20px;
	h3 {
		color: #535353;	
		font-size: 28px;
		font-family: 'Arimo', sans-serif;
	}

	.box-topics {
		border-radius: 10px;
		border: 1px solid #a2b6bc;
		padding: 20px;
		margin-bottom: 10px;
		min-height: 145px;
		@media (max-width: 767px) {
			min-height: 25em;
		}
		h4{
			font-size: 20px;
			font-weight: bold;
			color: #d5652c !important;
		}
		h5 {font-size: 15px; color: #262626; font-weight: bold; font-family: 'Arimo', sans-serif;}
		.perfil{border: 1px solid #a2b6bc;}
		.text {
			@media (max-width: 767px) {
				text-align: center;
			}
		}
		.infos {
			@media(max-width: 767px) {
				float: none !important;
			}
		}
		.counting {
			@media (max-width: 767px) {
				text-align: center;
				float: none !important;
			}
		}
	}
}

#facaASuaPergunta .input {color: #a2b6bc;}

/* perfil */
#perfil-photo {

	.box-imagem-perfil {
		position: absolute; 
		z-index: 99;
		margin-top: 1%;

		img {
			border: 9px solid #fff;
		}
	
		@media (min-width: 992px) {
			#imagem-perfil {
				margin-left: 38% !important;
			}
		}
		
	}	
}

.resetPadding {padding-left: 0;padding-right: 0;}
#topicPage {
	.boxBotaoVoltar {
		padding: 0 !important;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	h3 {
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		font-size: 26px;
	}	
	h4 {
		font-weight: bold;
		font-family: 'Arimo', sans-serif;
		font-size: 15px;
		color: #999;
	}
	p {color: #999; font-family: 'Arimo', sans-serif; font-size: 14px;}
	.usuarioInfo{font-size: 16px;}
	.statusTopic {
		background-color: #4da82c; 
		color: #fff; 
		font-weight: bold; 
		border-radius: 10px; 
		font-family: 'Arimo', sans-serif; 
		padding: 4px 0
	}
	
	.answersTopic {margin-top: 20px; margin-bottom: 20px;}


	#answersTopic {
		h4 {
			margin-top: 0 !important;
			color: #000;
			font-family: 'Arimo', sans-serif;
			font-size: 16px;
			font-weight: bold;
		}

		.boxAnswer {margin-top: 10px; margin-bottom: 10px;}
		.padraoBox {margin-bottom: 13px;}
	}
}



.btn1 {
	background-color: #47c5ad !important;
	border: none !important;
	color: #fff !important;
	font-family: 'Arimo', sans-serif;
	font-size: 15px !important;
	border-radius: 10px !important;
	padding: 10px 15px !important;

	&:hover {
		background-color: #66e4cc !important;
		color: #fff !important;
	}
}


.data {
	img {
	    //border: 1px solid #a2b6bc;
	}
	p {
		margin-top: 0px;
		//font-size: 20px;
	    font-family: 'Arimo', sans-serif !important;
	    font-weight: bold;
	    //color: #3c9;
	}
}

#corpo-topic {
	margin-top: 40px;
	margin-bottom: 25px !important;
	font-size: 14px;
	font-family: 'Arimo', sans-serif;
	color: #a0a1a2;
}

.botaoModalPrimary {
	width: 100%;
    background-color: #33cc99 !important;
    border: none !important;
    height: 40px;
    color: #fff !important; 
}

.modalPadrao {
	h3 {font-weight: bold; color: #336666;}
	p {
		color: #999999;
	}
}

.cadastrarProjeto {
	padding-bottom: 25px !important;

	p {
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		color: #669999;
	}
}

.breakPaddingInput {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-margin {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}



.datepicker-days{
	background-color: #eef2f4 !important;
	border-radius: 5px;
}

.listaProjetos p{
	font-weight: bold;
}

.box-projects {
		border-radius: 10px;
		border: 1px solid #a2b6bc;
		padding: 20px;
		margin-bottom: 10px;
		min-height: 210px;
		background-color: #fff;
		p {
			margin-bottom: 0 !important;
		}
		h4{
			font-size: 25px;
			font-weight: bold;
			color: #d5652c;
		}
		a {
			color: #d5652c;

		}
}	

.pLaranja {
	color: #d5652c;
	font-weight: bold;
}

.pInputs {font-weight: bold;color: #75868e;}



/*
* MODAL
*/

.modal-body {
	margin-top: 25px;
	
	h3{font-weight: bold;}
	p{font-size: 16px;}
}



/* GERAL */
.bigDefaultButton {
	width: 100%;
	background-color: #47c5ad !important;
	border: none !important;
	color: #fff !important;
	border-radius: 10px;

	&:hover {
		background-color: #66e4cc !important;
		color: #fff !important;
	}
}

a:hover {
	color: inherit !important;
	background-color: inherit !important;
}
#addProjeto {height: 40px;}

/*
* FILTRO
*/

.filtro {
	padding-top: 20px;
	padding-bottom: 15px;

	.pBusca {
		line-height: 2.5em;
		color: #669999;
		font-weight: bold;
	}

	.botaoFiltros {
		background-color: #999999 !important;

		&:hover {
			background-color: #d0cfcf !important;
		}
	}
}



.usuarioFotoTopic {border: 1px solid #a2b6bc;}

#answering .form-control {background-color: #fff !important; height: 100px !important; padding: 12px !important;}

.profile_avatar {
}


.tooltip-inner {background-color: #fff !important; border: 1px solid #a2b6bc !important; color: #75868e !important;}
.tooltip-arrow { 
  left: 50%;
  border-bottom-color: #a2b6bc !important; /* black */
  border-width: 0 5px 5px;}

 .submissions {border: 1px solid #fff;}
 .respostaParaResposta {background-color: #fff !important;}

 .excluirTopico { margin-left: 5px;}

 .labelPadrao {
 	color: #a2b6bc !important;
 	font-weight: bold;
 	font-family: 'Arimo', sans-serif;
 	font-size: 1.15em;
 }

 .insideBox {
 	margin-top: 30px;
 	margin-bottom: 30px;
 }

 .titleBox{margin-top: 10px; margin-bottom: 15px;}