<section id="perfil-photo">
	<div class="container-fluid" style="padding: 0;">
		<div class="col-md-12" id="barra-azul-perfil">
			<div class="col-md-4">
			</div>
		</div>
		<div class="col-md-12 box-imagem-perfil">
			<div id="imagem-perfil" class="col-md-3 col-md-offset-4">
				<%= image_tag('semfoto', :class => "img-circle img-responsive") %>
				<div class="text-center">
					<h3><%= @user.nome + " " %></h3>
					<h4><%= @user.access %></h4>
				</div>
			</div>
		</div>
		<div class="col-md-12" id="barra-branca-perfil">
			<div class="col-md-4">

			</div>
		</div>
	</div>
</section>