<section>
	<div class="col-md-3" id="sidebar-dashboard">
		<div class="col-md-12" id="profile-photo">
			<%= image_tag("ruiva.jpg", class:"img-responsive") %>
		</div>
		<div class="col-md-12" id="">
			<div class="text-center">Alterar Foto</div>
		</div>
		<div class="col-md-10 col-md-offset-1" id="profile-info">
			<div class="name-curso">
				<h2><%= @user.nome %></h2>
				<p>Sistemas de Informação</p>
			</div>
			<div class="score">
				<%= image_tag("star.png", class: "pull-left", style: "margin-right: 20px;") %>
				<p>Score</p>
				<p>520 pt</p>
			</div>
			<div class="about">
				<p>Sobre</p>
				<p class="text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequuntur facere explicabo voluptate accusantium facilis voluptates mollitia fugiat illum labore beatae perferendis, quod, saepe nam quas, exercitationem recusandae eum.
				</p>
			</div>
		</div>
	</div>
</section>